<h2>Por Region</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- <shared-search-box (onDebounce)="searchByRegion($event)" placeholder="Buscar por region"></shared-search-box> -->
    <button *ngFor="let region of regions"
      #btnRegion
      class="btn mx-2"
      [ngClass]="{'btn-outline-primary': selectedRegion == region}"
      (click)="searchByRegion(region)">
      {{ region }}
    </button>

  </div>

</div>

<div class="row">
  <div class="col">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
   <countries-table [countries]="countries"></countries-table>
  </div>
</div>
